/// <reference path="../config/config.scss" />
/// <reference path="../typos/icons/icons.scss" />


#{$frameworkClass} .menu, #{$frameworkClass} .menu-list {
    z-index: 998;
    margin: 0;

    &.breadcrumb {
        list-style: none;
        font-size: 10pt;

        .item {

            .link {
                display: inline;
                padding: 0;
                line-height: $height-menu;
                color: lighten( $linkColor, 11% );

                .icon {
                    font-size: 12pt;
                    margin-left: 1em;
                }
            }

            .link, .link:hover, .link:active {
                background: transparent;
            }

            .link:hover, .link:active {
                color: $linkColor;
                background-color: $elementsHoverBackground;
            }


            &.active .link, &.active span {
                color: $linkColor;
                font-size: 12pt;
                font-weight: bold;
                line-height: $height-menu;
            }

            &.active span {
                cursor: default;
            }
        }

        > .item {
            margin: 0 1em 0 0;
        }
    }
}