.uk-button-group {
    /* 1 */
    display: inline-block;
    vertical-align: middle;
    /* 2 */
    position: relative;
    /* 3 */
    font-size: 0.001px;
    /* 4 */
    white-space: nowrap;
    width: 100%;
    margin-bottom:10px;
    .divider {
        border-right: $borderElements;
        margin-top: 10px;
        margin-bottom: 10px;
        height: $height-menu - 20px;
        width: 1px;
    }
}

.uk-button-group > * {
    display: inline-block;
}

.uk-button-group.with-four-elements .uk-button {
    width: 25%;
}

.uk-button-group .uk-button {
    color: $linkColor;
    line-height: $height-menu;
    vertical-align: top;
    font-size: 12pt;
    background-color: transparent;
    border-top: $borderElements;
    border-bottom: $borderElements;



    .icon {
        font-size: 20pt;
    }
}
