/// <reference path="../config/config.scss" />
/// <reference path="../typos/icons/icons.scss" />


/* Box */
#{$frameworkClass} .slide-panel {
    position: relative;

    .slide-content {
        position: absolute;
        top: 0px;
        background-color: $elementsBackground;
        z-index: 1000;
        margin-top: 0;
        padding: 0;
        width: 100%;
        min-width: 200px;
        font-size: $fontSize;
        color: $mainColor;
        display: none;

        ul {
            max-height: 150px;
            overflow-y: auto;
            margin: 0px;
            min-width: 200px;
            padding-right:10px;
        }

        .box-slide {
            background: $accentNegativeColor;
            margin: 20px;
            @include border-radius(8px);
            border: $borderElements;
            padding: 10px;

            .button {
                margin: 0px;
            }
        }

        .box {
            min-width: 25%;
            position: relative;
            font-size: 10pt;

            .uikit-dropdown {
                clear: both;

                .uk-dropdown {
                    top: 35px;
                }
            }

            .uk-badge-notification {
                min-height: 10px;
                min-width: 10px;
                font-size: 10px;
                margin-top: -3px;
            }
              > header, > footer {
                border-bottom: $borderElements;

                .divider {
                    border-right: $borderElements;
                    margin-top: 8px;
                    height: 15px;
                    width: 1px;
                    position: absolute;
                    right: 0px;
                }
            }

            > header, &.slide.active > header {
                font-size: 10pt;
                color: $textColor;
                background-color: $elementsBackground;
            }

            > footer {
                padding-top: 0.25em;
                padding-bottom: 0.25em;
                color: rgba( $negativeColor, 0.5 );
                background-color: $complementaryColor;
            }
        }
    }
}
