
// COLORS


$mainColor: #4d4d4d;
$accentColor: #6eba4a;

$linkColor: #fff;
$negativeColor: #4d4d4d;
$blackColor: #808080;
$buttonColor: #fff;
$mainBackground: #fff;

// Secondary Colors

$elementsBackground: #f4f4f4;
$elementsActionBackground: #f4f4f4;
$elementsBackground2: #f4f4f4;

// Other Colors

$tipColor: #fff;
$tipBack: #fff;
$pendingColor: #fff;
$pendingBack: #fff;
$successColor: #fff;
$successBack: #fff;
$errorColor: #fff;
$errorBack: #fff;
$infoColor: #fff;
$infoBack: #fff;
$neutralBack: #fff;
$complementaryColor: #fff;

