
// COLORS

$linkColor: #1fbba6;
$mainColor: #5b5b6a;
$negativeColor: #fff;
$blackColor: #000;
$accentColor: #1fbba6;
$buttonColor: #fff;
$mainBackground: #f6f6f6;

// Secondary Colors

$elementsBackground: #111;
$elementsActionBackground: #111;
$elementsBackground2: #111;

// Other Colors

$tipColor: #1fbba6;
$tipBack: #1fbba6;
$pendingColor: #ef7834;
$pendingBack: #ef7834;
$successColor: #1fbba6;
$successBack: #1fbba6;
$errorColor: #CC2A41;
$errorBack: #CC2A41;
$infoColor: #14b8d4;
$infoBack: #14b8d4;
$neutralBack: #eaedf1;
$complementaryColor: #323a45;