
// COLORS


$mainColor: #4d4d4d;
$accentColor: #6eba4a;

$linkColor: lighten( $mainColor, 20% );
$elementsBackground: lighten( $mainColor, 65.5% );
$elementsHoverBackground: lighten( $mainColor, 60% );

$borderElements:1px solid $elementsHoverBackground;

$negativeColor: #fff;
$blackColor: #fff;
$buttonColor: #fff;
$mainBackground: #fff;

// Secondary Colors

$elementsActionBackground: #f4f4f4;
$elementsBackground2: #f4f4f4;

// Other Colors

$tipColor: #fff;
$tipBack: #fff;
$pendingColor: #fff;
$pendingBack: #fff;
$successColor: #fff;
$successBack: #fff;
$errorColor: #fff;
$errorBack: #fff;
$infoColor: #fff;
$infoBack: #fff;
$neutralBack: #fff;
$complementaryColor: #fff;

$height-menu:70px;
$sidebar-width:85px;