
// Nome do framework.
$documentID: '#document' ;
$documentClass: '.document' ;
$frameworkID: '#gnio-framework' ;
$frameworkClass: '.gnio-framework' ;


// Variaveis 
$baseFontSize: 15px ;
$fontSize: 1em ;
$fontFamily: 'Nunito', sans-serif ;
$headersFontFamily: 'Nunito', sans-serif ;
$fontSetting: optimizeLegibility ;
$fontWeight: 200 ;
$thickFontWeight: 700 ;
$headerFontWeight: 400 ;
$fontStyle: normal ;
$lineHeight: 1.5 ;
$headersLineHeight: 1.5 ;
$baseMargin: 0 ;
$basePadding: 0 ;
$default-margin:10px ;


// colors

$color-1: #dbe2e9; // blue light
$color-2: #89ba2c; // green
$color-3: #424f5c; // blue dark
$color-4: #ffffff; // white

// fonts 

$primary-font: 'Droid Sans', sans-serif;
$secondary-font: 'Droid Serif', serif;

// panel size

$panel-width-S: 90%;
$panel-width-M: 70%;
$panel-width-L: 50%;