<div class="uikit-component">
    <header id="main-header" class="uk-navbar ">
        <ul class="uk-navbar-nav uk-hidden-small">
            <li class="uk-parent" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                <div class="menu-empresa">
                    <div class="wrapper">
                        <span class="icon-stack icon-medium">
                            <i class="icon icon-circle icon-stack-2x"></i>
                            <i class="icon icon-user icon-stack-1x icon-inverse"></i>
                        </span>

                        <h1>Fortes Contabilidade</h1>
                        <h2>Empresa de contabilidade</h2>
                    </div>
                </div>

                <div class="uk-dropdown uk-dropdown-navbar">
                    <ul class="uk-nav uk-nav-navbar">
                        <li class="uk-nav-header">Favoritos</li>
                        <li><a href="#"><i class="icon icon-filter icon-with-margin-right" "></i> Movimentacoes</a></li>
                        <li><a href="#"><i class="icon icon-bell-o icon-with-margin-right"></i>Contas a pagar</a></li>
                    </ul>
                </div>
            </li>
        </ul>

        <a href="#offcanvas-1" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>

        <div class="uk-navbar-flip">

            <a href="" class="uk-navbar-toggle uk-navbar-toggle-alt uk-visible-small"></a>

            <ul class="uk-navbar-nav uk-hidden-small">
                <li class="uk-parent" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                    <a href="#" title="notificacoes"><i class="icon icon-bell-o  icon-medium"> <span class="uk-badge uk-badge-notification uk-badge-danger">8</span></i></a>

                    <div class="uk-dropdown uk-dropdown-navbar">
                        <ul class="uk-nav uk-nav-navbar">
                            <li class="uk-nav-header">Notificacoes</li>
                            <li><a href="#"><i class="icon icon-info-circle icon-with-margin-right"></i> Existe um problema com as notas fiscais</a></li>
                            <li><a href="#"><i class="icon icon-info-circle icon-with-margin-right"></i>Contas a pagar</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#" title="sair"><i class="icon icon-sign-out icon-medium"></i></a></li>
            </ul>
        </div>

    </header>
</div>