
<script type="text/html" id="Generico">

    <div class="box left">
        <header>
            <span class="uk-badge uk-badge-notification uk-badge-success" data-bind="text:valoresSelecionados().length, visible: valoresSelecionados().length > 0">1</span>
            <label data-bind="text: nome"></label>


            <a data-bind="click: $data.limparFiltros.bind($data,$parent)" class="uk-button right" href="#"><i class="icon icon-trash"></i></a>
            <div class="uikit-component right ">
                <div class="uikit-dropdown" data-uk-dropdown="{mode:'click'}">
                    <a class="uk-button uikit-trigger right" href="#"><i class="icon icon-plus"></i></a>
                    <div class="uk-dropdown">
                        <div class="box-slide">

                            <ul data-bind="foreach: valoresIniciais">
                                <li>
                                    <span class="link" data-bind="text:$data"></span>
                                </li>
                            </ul>
                            <a data-bind="click: $data.aplicarFiltro.bind($data,$parent)" class="button withAccent uk-width-large-1-1">APLICAR</a>
                        </div>
                    </div>

                </div>
            </div>
            <span class="divider"></span>
        </header>
        <div class="content" data-bind="foreach: valoresSelecionados">

            <span class="uk-badge uk-badge-notification uk-badge-success" data-bind="text:$data"></span>
        </div>
    </div>
</script>

<script type="text/html" id="Caracteres">

    <div class="box left">
        <header>
            <span class="uk-badge uk-badge-notification uk-badge-success" data-bind="text:valoresSelecionados().length, visible: valoresSelecionados().length > 0">1</span>
            <label data-bind="text: nome"></label>


            <a data-bind="click: $data.limparFiltros" class="uk-button right" href="#"><i class="icon icon-trash"></i></a>
            <div class="uikit-component right ">
                <div class="uikit-dropdown" data-uk-dropdown="{mode:'click'}">
                    <a class="uk-button uikit-trigger right" href="#"><i class="icon icon-plus"></i></a>
                    <div class="uk-dropdown">
                        <div class="box-slide">

                            <ul data-bind="foreach: valoresIniciais">
                                <li>
                                    <input class="right" type="checkbox" data-bind="checked: selecionado" />
                                    <span class="link" data-bind="text:$data.texto"></span>
                                </li>
                            </ul>
                            <a data-bind="click: $data.aplicarFiltro.bind($data,$parent)" class="button withAccent uk-width-large-1-1">APLICAR</a>
                        </div>
                    </div>

                </div>
            </div>
            <span class="divider"></span>
        </header>
        <div class="content" data-bind="foreach: valoresSelecionados">

            <span class="uk-badge uk-badge-notification uk-badge-success" data-bind="text:$data"></span>
        </div>
    </div>
</script>

<script type="text/html" id="Periodo">

    <div class="box left">
        <header>
            <span class="uk-badge uk-badge-notification uk-badge-success" data-bind="text:valoresSelecionados().length, visible: valoresSelecionados().length > 0">1</span>
            <label data-bind="text: nome"></label>

            <a data-bind="click: $data.limparFiltros" class="uk-button right" href="#"><i class="icon icon-trash"></i></a>
            <div class="uikit-component right ">
                <div class="uikit-dropdown" data-uk-dropdown="{mode:'click'}">
                    <a class="uk-button uikit-trigger right" href="#"><i class="icon icon-plus"></i></a>
                    <div class="uk-dropdown">
                        <div class="box-slide">

                            <input class="right" type="date" data-bind="value: dataInicial" />
                            <input class="right" type="date" data-bind="value: dataFinal" />

                            <a data-bind="click: aplicarFiltro" class="button withAccent uk-width-large-1-1">APLICAR</a>
                        </div>
                    </div>
                </div>
            </div>
            <span class="divider"></span>
        </header>
        <div class="content" data-bind="foreach: valoresSelecionados">

            <span class="uk-badge uk-badge-notification uk-badge-success" data-bind="text:$data"></span>
        </div>
    </div>
</script>