<div class="sidebar uikit-component">
    <span class="logo"></span>
    <ul class="menu vertical uk-nav" data-uk-nav="{multiple: true}">
        <li class="item uk-parent">
            <a title="abrir submenu ajuda" href="#">
                <span class="icon-stack icon-large">
                    <i class="icon icon-circle-thin icon-stack-2x"></i>
                    <i class="icon icon-question icon-stack-1x"></i>
                </span>
                Ajuda
            </a>
            <ul class="uk-nav-sub">
                <li class="item">
                    <a title="Ajuda com a tela" class="link" href="#">
                        <i class="icon icon-question-circle icon-medium"></i>
                        Tela
                    </a>
                </li>
                <li class="item">
                    <a title="Ajuda com os filtros" class="link" href="#">
                        <i class="icon icon-question-circle icon-medium"></i>
                        Filtros
                    </a>
                </li>
                <li class="item">
                    <a title="Outras ajudas" class="link" href="#">
                        <i class="icon icon-question-circle icon-medium"></i>
                        Outros
                    </a>
                </li>
            </ul>
        </li>
        <li class="item uk-parent">
            <a href="#">
                <span class="icon-stack icon-large">
                    <i class="icon icon-comment-o icon-stack-2x"></i>
                    <i class="icon icon-ellipsis-h icon-stack-1x"></i>
                </span>
                <span class="text">Contato</span>
            </a>
        </li>
    </ul>
</div>
