////
// Variables
////

$header-height: 65px;
$default-space: 20px;
$default-margin: 10px;

//Media querys
$mobile-break: 780px;
$tablet-break: 990px;

//Cores
$color-primary: #6eba4a;
$color-secondary: #111;
$color-tertiary: #111;

//Fontes
$primary-font: sans;

////
// Clases and Placeholders
////
%clearfix:after {
    content: "";
    display: block;
    clear: both;
}

%image-replace {
    display: inline-block;
    text-indent: -9999px;
    overflow: hidden;
}

%display-none {
    display: none;
}

%font-smooth {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizespeed;
}

.container {
    @extend %clearfix;
    padding: 0 20px;
    max-width: 1400px;
    margin: 0 auto;
}
