/* Inputs */
#{$frameworkClass} {
    input[type='text'], textarea {
        padding: 0.75em 1em;
        @include box-sizing(border-box);
        @include outline(none);
        background-color: $negativeColor;
        border: 0.1666em solid $elementsActionBackground;
        color: $mainColor;
        cursor: text;
        @include transition($defaultTransition);
        &.values {
            background: none;
            padding: 0;
            margin-bottom: 0.5em;
            border: none;
            @include box-shadow(none);
        }
        &:focus {
            color: $complementaryColor;
            border-color: $accentColor;
            background-color: $negativeColor;
        }
    }
    select {
        padding: 0.75em 1em;
        background-color: $elementsBackground;
        border: none;
        -webkit-appearance: none;
    }

    input[type='file'] {
        position: absolute;
        margin: 0;
        padding: 0;
        position: static;
        cursor: pointer;
        .input-wrapper & {
            position: absolute;
            top: 0;
            right: 0;
            text-indent: -999em;
        }
    }
    input {
        &:disabled {
            cursor: default;
        }
    }
    textarea.editable {
        resize: none;
    }

    label {
        padding-right: 0.5em;
        cursor: pointer;
    }
}

#{$frameworkClass} .input/*, #{$frameworkClass}.framework .input*/ {
    @include outline(none);
    &.text, &.editable:focus {
        padding: 0.75em 1em;
        @include box-sizing(border-box);
        background-color: $negativeColor;
        border: 0.1666em solid $elementsActionBackground;
        color: $mainColor;
        cursor: text;
        @include box-shadow(none);
        @include transition($defaultTransition);
        min-width: 15em;
    }
    &.text {
        &:focus {
            color: $complementaryColor;
            border-color: $accentColor;
            background-color: $negativeColor;
        }
        &.disabled {
            cursor: default;
            @include opacity(0.75);
        }
        &.error {
            color: $negativeColor;
            background-color: $errorBack;
            border-color: transparent !important;
            + .icon {
                color: rgba( $negativeColor, 0.35);
            }
            /* Chrome Placeholder Fix */
            &::-webkit-input-placeholder {
                color: rgba( $negativeColor, 0.5 );
            }
        }
        &.ok {
            color: $negativeColor;
            background-color: $successBack;
            border-color: transparent !important;
            + .icon {
                color: rgba( $negativeColor, 0.35);
            }
            /* Chrome Placeholder Fix */
            &::-webkit-input-placeholder {
                color: rgba( $negativeColor, 0.5 );
            }
        }
        &.thin {
            padding-top: 0.25em;
            padding-bottom: 0.25em;
        }
    }
    &.number {
        padding: 0.75em 0.25em 0.75em 1em;
    }
    &.text.datepicker {
        cursor: default;
    }
    &.blocknote {
        background: transparent;
        border: none;
        border-bottom: 0.1666em solid $elementsActionBackground;
        @include box-shadow(none);
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0.25em;
    }
    &.editable {
        background-color: transparent;
        border: 0.1666em solid transparent;
        @include box-shadow(none);
        cursor: default;
        &:hover {
            border: 0.1666em solid $elementsActionBackground;
        }
    }
    &.expanding {
        width: 240px;
        min-width: 240px;
        @include transition($customTransition2);
        &:focus {
            width: 100%;
        }
    }
    &.radio {
        margin-right: 0.5em;
        &.custom {
            display: none;
            + label {
                display: inline-block;
                padding: 0.5em 0.75em;
                background-color: $elementsBackground;
                cursor: pointer;
                margin-left: -0.25em;
                min-width: 16px;
                min-height: 16px;
                font-weight: $thickFontWeight;
                @include transition($defaultTransition);
            }
            &:checked + label {
                background-color: $accentColor;
                color: $negativeColor;
            }
        }
        &.custom.alt {
            + label {
                background-color: $elementsBackground;
                padding: 0.5em 0.75em;
                border: 0.1666em solid transparent;
            }
            &:checked + label {
                background-color: $accentColor;
                color: $negativeColor;
                border-color: rgba( $blackColor,  0.15);
            }
        }
    }
    &.checkbox {
        margin-right: 0.5em;
        &.custom {
            display: none;
            + label {
                display: inline-block;
                padding: 0.5em 1em;
                background-color: $elementsBackground;
                cursor: pointer;
                min-width: 16px;
                min-height: 16px;
                @include transition($defaultTransition);
                .icon {
                    margin: 0;
                }
            }
            &:checked + label {
                background-color: $accentColor;
                color: $negativeColor;
                .icon {
                    margin: 0;
                }
            }
        }
    }
    &.select {
        padding: 0.75em 1em;
        background-color: $elementsBackground;
        border: none;
        &.multiple {
            min-height: 6.75em;
        }
    }
}

#{$frameworkClass} {
    .input-wrapper {
        position: relative;
        display: inline-block;
        > .icon, > a.uk-form-password-toggle {
            position: absolute;
            right: 0.62em;
            top: 0.5em;
            margin: 0;
            font-size: 150%;
            color: $accentColor;
        }
        > .icon.close {
            right: 0.6666em;
            top: 0.5833em;
            font-size: 100%;
            color: $mainColor;
            &:hover, &:active {
                color: $accentColor;
                background-color: transparent;
            }
        }
        &.date-picker > .icon {
            font-size: 100%;
            top: 1em;
            right: 1em;
        }
        &.date-picker .range-datepicker {
            cursor: default;
        }
        &.with-icon {
            .input {
                padding-right: 3em;
                &.error + .icon {
                    color: rgba( $negativeColor, 0.35);
                }
                &.ok + .icon {
                    color: rgba( $negativeColor, 0.35);
                }
            }
        }
        .button, button {
            display: block;
            float: right;
            line-height: 1.5;
            padding-top: 0.75em;
            padding-bottom: 0.75em;
            &:active {
                margin-bottom: 0;
                top: 0;
            }
        }
        .input, input[type="text"] {
            float: left;
            margin: 0;
        }
        label {
            margin: 0;
        }
        &.multiple {
            display: block;
            .button, button {
                width: 20%;
            }
            .input, input[type="text"], .input:focus, input[type="text"]:focus {
                width: 80%;
            }
            .input.expanding, input[type="text"].expanding {
                width: auto;
            }
            .input.expanding:focus, input[type="text"].expanding:focus {
                width: 100%;
            }
        }
    }
    .wrapper {
        display: block;
    }
}
