
/* ==========================================================================
   Animations
   ========================================================================== */

/* Flickering */
@include keyframes(flickering) {
    0% { background-color: $negativeColor; color: $mainColor; }
    100% { background-color: $errorColor; color: $negativeColor; }
}
.flickering {
    @include animation(flickering 0.3s infinite alternate ease-out);
}

/* Color Swap */
@include keyframes(color-swap) {
    0% { background-color: $errorColor; color: $negativeColor; }
    12.5% { background-color: rgbToHsla(83,218,63); color: $negativeColor; }
    25% { background-color: rgbToHsla(0,174,217); color: $negativeColor; }
    37.5% { background-color: rgbToHsla(255,231,26); color: $negativeColor; }
    50% { background-color: rgbToHsla(255,102,63); color: $negativeColor; }
    62.5% { background-color: rgbToHsla(255,23,163); color: $negativeColor; }
    75% { background-color: rgbToHsla(124,92,203); color: $negativeColor; }
    87.5% { background-color: rgbToHsla(149,102,76); color: $negativeColor; }
    100% { background-color: $blackColor; color: $negativeColor; }
}
.color-swap {
    @include animation(color-swap 12s infinite alternate ease-out);
}

/* Full Rotation */
@include keyframes(rotate) {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}