<div class="uikit-component slide-panel">

    <div class="slide-content with-four-elements" style="display:block;  ">
        <div name="filtros" data-bind="foreach: filtros">
            <div data-bind="template: { name: tipo, data: $data }"></div>
        </div>
        <filtros params='value: filtros'></filtros>
        <div class="center">
            <a class="uk-button">Aplicar Filtros</a>
            <a class="uk-button">Limpar Todos</a>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
      
        var requisicao = new Filtro.Requisicao();

        requisicao.novoFiltro({ nome: "Nome1", tipo: App.Tipos.CARACTERES, valoresIniciais: ["TESTE 1", "TESTE 2"] });
        requisicao.novoFiltro({ nome: "Nome2", tipo: App.Tipos.CARACTERES, valoresIniciais: ["TESTE 3", "TESTE 4"] });
        requisicao.novoFiltro({ nome: "Periodo", tipo: App.Tipos.PERIODO, valoresIniciais: "Teste 3" });
        alert(ko.toJSON(requisicao));
        var componente = Filtro.criarComponente(requisicao);

        ko.applyBindings(componente);
    </script>

}
