@*<input type="checkbox" name="toggle" id="toggle" />
    <label for="toggle"></label>
    <div class="message">
        <h1> hello, I'm a hidden message. You found it.</h1>
        <h2>Now Click the Heart button in the bottom to support CSS3</h2>

    </div>*@
@*<a class="btnToggle button" href="#"><i class="icon icon-plus icon-with-margin-right"></i> NOVO RECEBIMENTO</a>
    <a class="btnToggle button" href="#"> ACOES<i class="icon icon-filter icon-with-margin-right"></i></a>*@


<a class="button withAccent left" href="#"><i class="icon icon-plus icon-with-margin-right"></i> NOVO RECEBIMENTO</a>
<div class="uikit-component left ">
    <div class=" uikit-dropdown" data-uk-dropdown="{mode:'click'}">
        <a class="button uikit-trigger" href="#">ACOES <i class="icon icon-angle-down"></i></a>
        <div class="uk-dropdown uk-dropdown-navbar">
            <ul class="uk-nav uk-nav-navbar">
                <li class="uk-nav-header">Favoritos</li>
                <li><a href="#"><i class="icon icon-filter icon-with-margin-right" "></i> Movimentacoes</a></li>
                <li><a href="#"><i class="icon icon-bell-o icon-with-margin-right"></i>Contas a pagar</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="uikit-component left ">


    <a class="btnToggle button" href="#"><i class="icon icon-filter icon-with-margin-right"></i> FILTROS SELECIONADOS</a>

    <div class="slide-panel">
        <div class="slide-content with-four-elements">
            <div name="filtros" data-bind="foreach: filtros">
                <div data-bind="template: { name: tipo, data: $data }"></div>
            </div>
            <div class="center">
                <a class="uk-button" data-bind="click:recuperarSelecoes">Aplicar Filtros</a>
                <a class="uk-button">Limpar Todos</a>
            </div>
        </div>
    </div>

    <table class="table" id="table-result" style="width:80%">
        <thead>
            <tr>
                <th>codigo</th>
                <th>numeroRPS</th>
                <th>nomeCliente</th>

                <th>nomeRazaoSocial</th>
                <th>nomeUnidadeNegocio</th>
                <th>nomeCentroCusto</th>
                <th>dataPagamento</th>
                <th>valor</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: ContasReceber">
            <tr>
                <td data-bind="text: codigo"></td>
                <td data-bind="text: numeroRPS"></td>
                <td data-bind="text: nomeCliente"></td>

                <td data-bind="text: nomeRazaoSocial"></td>
                <td data-bind="text: nomeUnidadeNegocio"></td>
                <td data-bind="text: nomeCentroCusto"></td>
                <td data-bind="text: dataPagamento"></td>
                <td data-bind="text: valor"></td>
                <td>
                    <input type="button" class="btn btn-danger btn-xs" value=" [x] delete " data-bind="click: $parent.excluir" />
                    <input type="button" class="btn btn-danger btn-xs" value=" incluir " data-bind="click: $parent.incluir" />
                    <input type="button" class="btn btn-danger btn-xs" value=" incluir " data-bind="click: $parent.editar" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
@section Scripts{

    <script type="text/javascript">

        $(".btnToggle").click(function () {
            $(".slide-content").slideFadeToggle();
        });

        var requisicao = new App.Requisicao();

        requisicao.novoFiltro({ nome: "Nome1", tipo: Filtro.Tipos.CARACTERES, valoresIniciais: ["TESTE 1", "TESTE 2", "TESTE 2", "TESTE 2", "TESTE 2", "TESTE 2", "TESTE 2"] });
        requisicao.novoFiltro({ nome: "Nome2", tipo: Filtro.Tipos.CARACTERES, valoresIniciais: ["TESTE 3", "TESTE 4"] });
        //requisicao.novoFiltro({ nome: "Nome2", valoresIniciais: ["TESTE 3", "TESTE 4"] });
        requisicao.novoFiltro({ nome: "Periodo", tipo: Filtro.Tipos.PERIODO, valoresIniciais: "Teste 3" });
        var componente = App.criarComponente(requisicao);

        ko.applyBindings(componente);

    </script>
}
