
<a class="button withAccent left" href="#"><i class="icon icon-plus icon-with-margin-right"></i> NOVO RECEBIMENTO</a>
<div class="uikit-component left ">
    <div class=" uikit-dropdown" data-uk-dropdown="{mode:'click'}">
        <a class="button uikit-trigger" href="#">ACOES <i class="icon icon-angle-down"></i></a>
        <div class="uk-dropdown uk-dropdown-navbar">
            <ul class="uk-nav uk-nav-navbar">
                <li class="uk-nav-header">Favoritos</li>
                <li><a href="#"><i class="icon icon-filter icon-with-margin-right" "></i> Movimentacoes</a></li>
                <li><a href="#"><i class="icon icon-bell-o icon-with-margin-right"></i>Contas a pagar</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="uikit-component left container-filter">
    <filtro params="value: requisicao"></filtro>
    <div data-bind='simpleGrid: gridViewModel'> </div>
</div>
