
<a class="button withAccent left" href="#"><i class="icon icon-plus icon-with-margin-right"></i> NOVO RECEBIMENTO</a>
<div class="uikit-component left ">
    <div class=" uikit-dropdown" data-uk-dropdown="{mode:'click'}">
        <a class="button uikit-trigger" href="#">ACOES <i class="icon icon-angle-down"></i></a>
        <div class="uk-dropdown uk-dropdown-navbar">
            <ul class="uk-nav uk-nav-navbar">
                <li class="uk-nav-header">Favoritos</li>
                <li><a href="#"><i class="icon icon-filter icon-with-margin-right" "></i> Movimentacoes</a></li>
                <li><a href="#"><i class="icon icon-bell-o icon-with-margin-right"></i>Contas a pagar</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="uikit-component left ">
    <filtro params="value: requisicao"></filtro>
    <div data-bind='simpleGrid: gridViewModel'> </div>
    @*<table class="table" id="table-result" style="width:80%">
        <thead>
            <tr>
                <th>codigo</th>
                <th>numeroRPS</th>
                <th>nomeCliente</th>

                <th>nomeRazaoSocial</th>
                <th>nomeUnidadeNegocio</th>
                <th>nomeCentroCusto</th>
                <th>dataPagamento</th>
                <th>valor</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: gridViewModel">
            <tr>
                <td><span data-bind="text: codigo"></span></td>
                <td><span data-bind="text: numeroRPS"></span></td>
                <td><span data-bind="text: nomeCliente"></span></td>
                <td><span data-bind="text: nomeRazaoSocial"></span></td>
                <td><span data-bind="text: nomeUnidadeNegocio"></span></td>
                <td><span data-bind="text: nomeCentroCusto"></span></td>
                <td><span data-bind="text: dataPagamento"></span></td>
                <td> <span data-bind="text: valor"></span></td>
                <td>
                        <input type="button" class="btn btn-danger btn-xs" value=" [x] delete " data-bind="click: $parent.excluir" />
                        <input type="button" class="btn btn-danger btn-xs" value=" incluir " data-bind="click: $parent.incluir" />
                        <input type="button" class="btn btn-danger btn-xs" value=" incluir " data-bind="click: $parent.editar" />
                    </td>
            </tr>
        </tbody>
    </table>*@
</div>
