
// COLORS

$linkColor: #1fbba6 !default;
$mainColor: #5b5b6a  !default;
$negativeColor: #fff !default;
$blackColor: #000 !default;
$accentColor: #1fbba6 !default;
$buttonColor: #fff !default;
$mainBackground: #f6f6f6 !default;

// Secondary Colors

$elementsBackground: #fff !default;
$elementsActionBackground: #f9fafc !default;
$elementsBackground2: #eaedf1 !default;

// Other Colors

$tipColor: #1fbba6 !default;
$tipBack: #1fbba6 !default;
$pendingColor: #ef7834 !default;
$pendingBack: #ef7834 !default;
$successColor: #1fbba6 !default;
$successBack: #1fbba6 !default;
$errorColor: #CC2A41 !default;
$errorBack: #CC2A41 !default;
$infoColor: #14b8d4 !default;
$infoBack: #14b8d4 !default;
$neutralBack: #eaedf1 !default;
$complementaryColor: #323a45 !default;