
// Nome do framework.
$documentID: '#document' !default;
$documentClass: '.document' !default;
$frameworkID: '#gnio-framework' !default;
$frameworkClass: '.gnio-framework' !default;


// Variaveis 
$baseFontSize: 18px !default;
$fontSize: 1em !default;
$fontFamily: 'Nunito', sans-serif !default;
$headersFontFamily: 'Nunito', sans-serif !default;
$fontSetting: optimizeLegibility !default;
$fontWeight: 200 !default;
$thickFontWeight: 700 !default;
$headerFontWeight: 400 !default;
$fontStyle: normal !default;
$lineHeight: 1.5 !default;
$headersLineHeight: 1.5 !default;
$baseMargin: 0 !default;
$basePadding: 0 !default;
$default-margin:10px !default;