/// <reference path="../config/config.scss" />
/// <reference path="../typos/icons/icons.scss" />

/* Default Styles */
#{$documentID} #{$frameworkClass} {

    #main-header {
        background-color: $accentColor;

        .uk-navbar-nav {
            > li > a {
                height: $height-menu;
                line-height: $height-menu;
                padding: 0px 1em;
                text-transform: uppercase;
            }

            > li.uk-parent > a[href="#"] {
                cursor: default;

                .icon {
                    position: relative;

                    .uk-badge {
                        position: absolute;
                        top: -8px;
                        right: -5px;
                        margin-top: 5px;
                    }
                }

                .with-icon .icon {
                    position: absolute;
                }
            }
        }



        .menu-empresa {
            color: $mainColor;
            cursor: pointer;
            padding: 4px;
            border-radius: 4px;
            margin-left: $default-margin;
            width: auto;
            height: 70px;
            text-align: left;
            min-width: 260px;

            .wrapper {
                transform: translateY(50%);

                .icon-stack {
                    float: left;
                    display: block;
                    margin-top: -5px;
                    margin-right: $default-margin;
                }

                h1 {
                    margin: 0px;
                    font-size: 12pt;
                    line-height: 1;
                    font-weight: 800;
                }

                h2 {
                    margin: 0px;
                    font-size: 8pt;
                    line-height: 1;
                }

                h1:after {
                    @extend .icon;
                    content: $icon-var-angle-down;
                    margin-left: 5px;
                    font-weight: bold;
                }
            }

            &:hover {
                background: darken($accentColor, 8%);
            }
        }
    }
}


/*////
//// MOBILE
////
@media only screen and (max-width: $mobile-break) {
    .header {
        height: 63px;
    }

    .social {
        display: none;
    }

    .logo a {
        width: 120px;
    }
}*/
