
/// <reference path="../config/config.scss" />
/// <reference path="../typos/icons/icons.scss" />

/* Color Scheme */
// Import your desired color scheme in here

/* Clearfixes */
.clearfix, #main-header .wrapper, #main-footer .wrapper {
    @extend %clearfix;

    &:before, &:after {
        @extend %clearfix-ba;
    }

    &:after {
        @extend %clearfix-a;
    }
}

/* Default Styles */
#{$documentID} #{$frameworkClass} {
    margin-left: $sidebar-width;

    #main-section {
        margin-top: 0px;
    }

    #main-content {
        h1 {
            margin-bottom: 1em;
        }

        min-height: 800px;

        .learn {
            display: block;
            margin-top: 1em;
        }
    }

    #main-footer {
        padding: 1em 1.5em;

        a {
            color: $negativeColor;
        }

        .copyright {
            float: left;
        }

        .version {
            float: right;
            margin-right: 1.5em;
        }

        .social {
            float: right;

            .item {
                margin-bottom: 0;
            }
        }

        .copyright, .version {
            margin-top: 0.25em;
        }
    }
}
