/// <reference path="../config/config.scss" />
/// <reference path="../typos/icons/icons.scss" />

#{$documentID} #{$frameworkClass} {
    .sidebar {
        position: absolute;
        width: $sidebar-width;
        height: 100%;
        background-color: lighten( $mainColor, 20% );
        left: 0px;
        padding-top: $height-menu;
        font-weight:normal;

        .logo {
            height: $height-menu;
            width: $sidebar-width;
            background-color: $mainColor;
            position: absolute;
            top: 0px;
            background-image: url('../imgs/logo.png');
            background-position: center center;
            background-repeat: no-repeat;
            padding: 0.75em 0;
        }

        .menu.vertical.uk-nav {
            text-align: center;

            .uk-parent {
                &:hover, &.uk-open {
                    background-color: lighten($mainColor, 5%);
                    @include transition($defaultTransition);
                }

                .uk-nav-sub {
                    background-color: lighten($mainColor, 10%);

                    li:hover, li:active {
                        @include transition($defaultTransition);
                        background-color: lighten($mainColor, 15%);
                    }

                    .item a,
                    .item .link {
                        text-align: left;
                        padding-left: 0px;

                        .icon {
                            margin-left: 5px;
                            margin-right: 5px;
                        }
                    }
                }

                > a .icon {
                    margin: 0px;
                }
            }

            .item a {
                background-color: transparent !important;
                font-size: 8pt;
                color: #fff;

                &:hover, &:active {
                    background-color: lighten($mainColor, 10%);
                }

                .icon-stack {
                    font-size: 15pt;
                }
            }
        }
    }
}
